---
import Layout from '../../layouts/Layout.astro';
import CreateChartForm from '../../components/charts/CreateChartForm';
---

<Layout title="Create New Chart">
  <h1 class="text-3xl font-bold mb-6 text-center">Create a New Natal Chart</h1>
  <CreateChartForm client:load />
</Layout> 