---
import Layout from '../../layouts/Layout.astro';
import BirthDataForm from '@/components/charts/BirthDataForm.tsx';
---

<Layout title="New Chart - AstroTracker">
  <div class="container mx-auto">
    {/* The BirthDataForm component will be rendered here */}
    <BirthDataForm client:load />
  </div>
</Layout> 