---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/auth/LoginForm";
// We will import and use the LoginForm component here later (Step 19)
---

<Layout title="Login - AstroTracker">
  <h1 class="text-3xl font-bold mb-4">Login</h1>
  <p>Login form will go here.</p>
  <LoginForm client:load />
</Layout>