---
import Layout from "../layouts/Layout.astro";
import RegisterForm from "../components/auth/RegisterForm";
// We will import and use the RegisterForm component here later (Step 19)
---

<Layout title="Register - AstroTracker">
  <h1 class="text-3xl font-bold mb-4">Register</h1>
  <p>Registration form will go here.</p>
  <RegisterForm client:load />
</Layout> 